<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{%static 'myapp/style.css'%}"></link> {% endcomment %}
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
<nav class="bg-blue-400 text-white">
    <div class="flex justify-between px-2 py-4 ">
        <a rel="" href =" " class="font-bold text-2xl">Food App </a>
        <div class = "space-x-6">
            <a>Contact</a> 
             <a>About Us</a> 
              <a>Address</a> 
        </div>
    </div>
</nav>
{%block body%}

{% endblock %}
</body>
</html>